av
decord
deepspeed
einops
matplotlib
numpy
opencv-python
pandas
Pillow
scipy
tensorboard==2.9.0
tensorboardX
timm==0.4.12
torch>=1.2
torchaudio
torchvision
triton==2.0.0.dev20221120
torchmetrics
tqdm
scikit-learn
ffmpeg >= 4.2.7 